*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffd95e,#ffb6d9);
}

/* tarjeta romántica */
.card{
    width:420px;
    background:white;
    padding:35px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 20px 40px rgba(0,0,0,.2);
    animation:entrada 1.2s ease;
}

/* título */
h1{
    color:#ff2f6d;
    font-size:34px;
    margin-bottom:15px;
}

/* frase bonita */
.mensaje{
    font-size:22px;
    color:#333;
    line-height:1.5;
    margin-bottom:20px;
}

/* corazón */
.heart{
    font-size:90px;
    margin:20px 0;
    animation:palpitar 1s infinite;
}

/* contador */
#contador{
    font-size:20px;
    color:#ff2f6d;
    font-weight:bold;
}

/* animación corazón */
@keyframes palpitar{
    0%{transform:scale(1);}
    25%{transform:scale(1.2);}
    50%{transform:scale(1);}
    75%{transform:scale(1.15);}
    100%{transform:scale(1);}
}

/* entrada suave */
@keyframes entrada{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
