*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:linear-gradient(135deg,#ffd95e,#ffb6d9);
}

/* tarjeta principal */
.card{
    background:white;
    width:380px;
    padding:35px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
    animation:entrada 1.2s ease;
}

h1{
    color:#ff2f6d;
    margin-bottom:15px;
}

.mensaje{
    font-size:20px;
    color:#333;
    margin-bottom:20px;
    line-height:1.5;
}

/* iconos cute */
.icons{
    font-size:60px;
    animation:latido 1.3s infinite;
    margin-bottom:20px;
}

/* contador */
#contador{
    color:#ff2f6d;
    font-weight:bold;
    font-size:18px;
}

/* animaciones */
@keyframes latido{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

@keyframes entrada{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* corazones flotando */
.hearts::before{
    content:"💖 💛 🎀 ❤️ 💕 💖 💛";
    position:absolute;
    width:100%;
    height:100%;
    top:-100%;
    left:0;
    font-size:35px;
    animation:caer 12s linear infinite;
    opacity:0.4;
}

@keyframes caer{
    0%{top:-100%;}
    100%{top:100%;}
}
